<div class="card shadow mb-4">
  <div class="card-header py-3">
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#add-modal"
    >
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>No</th>
            <th>Bank Name</th>
            <th>Nomor Rekening</th>            
            <th>Name</th>
            <th>Image</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i =0;i<data.length;i++){%>
            <tr>
              <td><%= i+1 %></td>
              <td><%= data[i].nameBank %></td>
              <td><%= data[i].nomorRekening %></td>
              <td><%= data[i].name %></td>
              <td class="d-flex justify-content-center">
                <img src="http://staycation-admin-bwa.herokuapp.com/<%= data[i].imageUrl %>" alt="imageUrl" width="80px"/>
              </td>
              <td>
                <form action="/admin/bank/<%=data[i].id%>?_method=DELETE" method="POST">
                  <a href="javascript:void()" type="button" class="btn btn-warning btn-circle btn-sm button-update" 
                  data-id="<%=data[i].id%>" 
                  data-name="<%=data[i].name%>" 
                  data-namebank="<%=data[i].nameBank%>" 
                  data-nomorrekening="<%=data[i].nomorRekening%>"
                  >
                    <i class="fas fa-edit"></i>
                  </a>
                  <button type="submit" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></button>
                </form>
              </td>
            </tr>
          <% } %> 
        </tbody>
      </table>
    </div>
  </div>
</div>
